body{
    padding: 0%;
    margin: 0%;
}
/******************************************/
.container{
    width: 100%;
    height: auto;
}
.menu{
    width: 100%;
    height: 920px;
}
.thanhtimkiem{
    width: 100%;
    height: 100px;
   padding-top: 10px;
   margin: 0 auto;
}
.thanhtimkiem ul{
    list-style: none;
}
.thanhtimkiem ul li{
    float: left;
}
/***************************************/
.search{
    height: 60px;
    width: 520px;
    display: inline-block;
    margin-left: 150px;
}
.search input{
    width: 436px;
    height: 60px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 15px;
}
.search button{
    width: 54px;
    height: 63px;
}
.search button img{
    width: 20px;
    height: auto;
    vertical-align: middle;
}
/**************************************************/
.tkgh{
    width: 300px;
    height: 50px;
    margin-left: 70%;
    margin-top: -50px;
}
.tkgh a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.tkgh a img{
    width: 50px;
    height: 50px;
    color: black;
    vertical-align: middle;
}
/**********************************************************/
.thanhcongcu{
    width: 100%;
    height: 50px;
    background-color:crimson ;
}
.thanhcongcu >ul{
    background-color: crimson;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.thanhcongcu >ul >li >a{
    margin-left: 130px;
}
.thanhcongcu >ul >li{
    display: inline-block;
    line-height: 50px;
}
.thanhcongcu >ul >li >a{
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
}
.thanhcongcu >ul >li >a:hover{
    color: yellow;
}
.thanhcongcu li{
    position: relative;
}
.menu-con{
    position: absolute;
    width: 800px;
    height: 400px;
    background-color: white;
    list-style-type: none;
    display: none;
    z-index: 1;
    border: solid 1px ghostwhite;
 }
 .menu-con >li{
    display: inline-block;
    width: 195px;
 }
 .thanhcongcu li:hover .menu-con{
    display:block;
 }
 .menu-con >li >a{
    color: black;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
 }
 .menu-con >li >a:hover{
    color: rgb(255, 202, 103);
 }
 .menu-con >li >h1{
    font-size: 17px;
    color: rgb(163, 0, 0);
    text-align: left;
 }
/**************************************************************/
.information{
    width: 100%;
    height: 500px;
}
.anh >img{
    margin: 100px 0 0 400px;
}
.information >p{
    text-align: center;
    font-size: 24px;
}
strong{
    font-size: 27px;
    color: orange;
}
/**************************************************************/
.footer{
    width: 100%;
    height: 300px;
    background-image: url(/images/backgrounf_footer.webp);
    padding: 75px 0 30px;
    font-size: 13px;
    color: white;
    line-height: 15px;
    position: absolute;
}
.footer .logo-footer{
    margin-left: 120px;
}
.footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer .row .col{
    flex-basis: 25%;
}
.footer .row .col h3{
    color: white;
    display: block;
    text-decoration: none;
}
.footer .row .col li{
    list-style: none;
}
.footer .row .col li a{
    text-decoration: none;
}
.col ul li a{
    color: white;
    font-size: 15px;
}
.col ul li a:hover{
    color: yellow;
}
.footer .row .col .timk input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 15px;
}
.footer .row .col .timk button{
    width: 40px;
    height: 37px;
    background-color: green;
    border-radius: 5px;
}


